*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  height: 72rem;
}
nav{
  height: 12.2rem;
  width: 100%;
  padding: 4rem 7.2rem;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  position: absolute;
  top: 0;
}
nav a{
  color: #c4c4cc;
  text-decoration: none;
  font-size: 2.16rem;
  line-height: 2.17rem;
  font-family: "Roboto", sans-serif;
}
nav a.active{
  color: white;
  font-weight: bold;
}